<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yifanoraa.core.dao.TestDao" >
    <sql id="BASE_TABLE">
    content_table
  </sql>
    <sql id="BASE_COLUMN">
    id,content
  </sql>
    <insert id="insert" parameterType="com.yifanoraa.core.model.TestContent" >
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            content
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{content}
        </trim>
    </insert>

    <select id="fetchContent" resultType="com.yifanoraa.core.model.TestContent">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

</mapper>